<div class="container">
        <h2>Progress</h2>
        <div class="progress">
            <div    id="progress-bar" 
                    class="progress-bar" 
                    role="progressbar" 
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="progresswidthStyle">{{progressPercent}}%</div>
        </div>
    
        <p>Focus fully on your task</p>
        
          <div class = "row">
            <button id="stopBtn" class="btn btn-success mx-auto" (click)="onStop($event,stopDialog)">Stop</button>
          </div>
    
          <p>Logged in as stubemail@stubemail.com</p>

    <ng-template #stopDialog>
        <div class="modal-header">
          <h4 class="modal-title pull-left">On hold. Cancel sprint?</h4>
        </div>
        <div class="modal-body">
            <button class="btn btn-danger" (click)="onAbort($event)">Yes</button>
            <button class="btn btn-primary" (click)="onResume($event,stopDialog)">No</button>
        </div>
    </ng-template>
    
    <ng-template #completedSprint > 
            <div class="modal-header">
              <h4 class="modal-title pull-left">Finished!</h4>
              <button type="button" class="close pull-right" 
                    aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Description: {{asbsoluteSprint.description}}</p>
                <p>Started at: {{asbsoluteSprint.startedAt.toLocaleString()}}</p>
                <p>Finished at: {{asbsoluteSprint.finishedAt.toLocaleString()}}</p>
            </div>
    </ng-template>

</div>
