<div class="container-fluid">
    <input class="form-control" type="text" placeholder="filter">

    <div class="table-responsive">
        <table class="table table-striped">
        <thead class="thead-dark"> 
            <tr>
                <th>Length</th>
                <th>Status</th>
                <th>Date</th>
                <th>Start</th>
                <th>Finish</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sprint of pastSprints">
                <td>{{sprint.duration/1000}}s</td>
                <td>{{sprint.status}}</td>
                <td>{{sprint.createdAt.toLocaleString()}}</td>
                <td>{{sprint.startedAt.toLocaleString()}}</td>
                <td>{{sprint.finishedAt.toLocaleString()}}</td>
                <td>{{sprint.description}}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>