<div class="container-fluid">
    <input class="form-control" type="text" placeholder="filter">

    <div class="table-responsive">
        <table class="table table-striped">
        <thead class="thead-dark"> 
            <tr>
                <th>Length</th>
                <th>Status</th>
                <th>Date</th>
                <th>Start</th>
                <th>Finish</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    
        </tbody>
        </table>
    </div>
</div>