<div class="card mx-auto card_magin shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <h5 class="text-center">{{title}}</h5>
    <div class="card-body">
      <p class="card-text text-justify">{{top_content}}<a class="card_body_links" href="{{pomodoro_link}}">Pomodoro Technique</a></p>
      <p class="card-text text-justify">{{center_content}}</p>
      <p class="card-text text-justify">{{lower_content}}<a class="card_body_links" href="{{chrome_link}}">Chrome</a></p>
      <a class="card_body_links" href="#">Terms and conditions</a>
    </div>
  </div>
</div>